.primary-pink-button-container {
    display: flex;
    position: relative;
  }
  .primary-pink-button-button {
    color: var(--dl-color-gray-white);
    display: flex;
    outline: none;
    background: linear-gradient( 310deg ,#7928ca,#ff0080);
    box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
    transition: all .15s ease-in;
    padding-top: var(--dl-space-space-triplequarterunit);
    border-width: 0px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    border-radius: 1.875rem;
    padding-right: var(--dl-space-space-unitandahalfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-triplequarterunit);
    background-image: linear-gradient(90deg, rgb(64, 224, 208) 0.00%,rgb(189, 119, 238) 100.00%);
  }
  .primary-pink-button-button:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  .primary-pink-button-icon {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
  }
  .primary-pink-button-root-class-name {
    margin-right: var(--dl-space-space-unitandahalfunit);
  }
  
  .header-header {
    top: 0px;
    left: auto;
    right: auto;
    width: 100%;
    bottom: auto;
    display: flex;
    z-index: 3;
    position: fixed;
    max-width: 1320px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    justify-content: center;
  }
  .header-nav {
    flex: 0 0 auto;
    color: var(--dl-color-secondary-600);
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    border-radius: var(--dl-radius-radius-radius40);
    padding-right: var(--dl-space-space-unitandahalfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    backdrop-filter: saturate(200%) blur(30px);
    justify-content: center;
    background-color: hsla(0,0%,100%,.8)!important;
  }
  .header-navlink {
    display: contents;
  }
  .header-icon {
    fill: #40E0D0;
    width: 24px;
    height: 24px;
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .header-icon:hover {
    width: 30px;
    height: 30px;
  }
  .header-container {
    color: var(--dl-color-gray-black);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-navlink1 {
    color: var(--dl-color-gray-black);
    font-size: 0.875rem;
    font-style: normal;
    transition: 0.3s;
    font-family: Open Sans;
    font-weight: 800;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    letter-spacing: -0.025rem;
    text-transform: none;
    text-decoration: none;
  }
  .header-navlink1:hover {
    color: var(--dl-color-blue-500);
  }
  .header-menu {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .header-navlink2 {
    margin-top: var(--dl-space-space-halfunit);
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .header-navlink2:hover {
    color: var(--dl-color-gray-500);
  }
  .header-navlink3 {
    margin-top: var(--dl-space-space-halfunit);
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .header-navlink3:hover {
    color: var(--dl-color-gray-500);
  }
  .header-navlink4 {
    margin-top: var(--dl-space-space-halfunit);
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .header-navlink4:hover {
    color: var(--dl-color-gray-500);
  }
  .header-container1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-container2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-burger-menu {
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-icon2 {
    width: 24px;
    height: 24px;
    margin-left: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: var(--dl-space-space-unitandahalfunit);
    z-index: 100;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .header-top {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-navlink5 {
    color: var(--dl-color-secondary-700);
    font-weight: 600;
    text-decoration: none;
  }
  .header-close-menu {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .header-icon4 {
    width: 24px;
    height: 24px;
  }
  .header-mid {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .header-menu1 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .header-navlink6 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .header-navlink6:hover {
    color: var(--dl-color-gray-500);
  }
  .header-navlink7 {
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .header-navlink7:hover {
    color: var(--dl-color-gray-500);
  }
  .header-navlink8 {
    transition: 0.3s;
    text-decoration: none;
  }
  .header-navlink8:hover {
    color: var(--dl-color-gray-500);
  }
  .header-bot {
    flex: 0 0 auto;
    display: flex;
    margin-top: auto;
    flex-direction: column;
  }
  @media(max-width: 991px) {
    .header-nav {
      max-width: 960px;
    }
    .header-menu {
      display: none;
    }
  }
  @media(max-width: 767px) {
    .header-burger-menu {
      display: flex;
    }
  }
  @media(max-width: 479px) {
    .header-container2 {
      display: none;
    }
    .header-burger-menu {
      position: relative;
    }
    .header-icon2 {
      top: -3px;
      left: 0px;
      width: 90%
      position: absolute;
      margin-left: 0px;
      margin-right: var(--dl-space-space-unit);
    }
  }
/* ------------------------------------------------------------------- */
  .footer-footer {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(310deg,#141727,#3a416f);
  }
  .footer-container {
    color: var(--dl-color-gray-white);
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-tripleunit);
    z-index: 1;
    max-width: 1320px;
    justify-content: space-between;
  }
  .footer-container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-text {
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-container2 {
    display: flex;
    justify-content: space-between;
  }
  .footer-container3 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-text06 {
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-navlink {
    color: var(--dl-color-gray-800);
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .footer-navlink:hover {
    color: var(--dl-color-gray-white);
  }
  .footer-text07 {
    color: var(--dl-color-gray-800);
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text07:hover {
    color: var(--dl-color-gray-white);
  }
  .footer-container4 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-left: var(--dl-space-space-sixunits);
    flex-direction: column;
  }
  .footer-text08 {
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-link {
    color: var(--dl-color-gray-800);
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .footer-link:hover {
    color: var(--dl-color-gray-white);
  }
  .footer-navlink1 {
    color: var(--dl-color-gray-800);
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .footer-navlink1:hover {
    color: var(--dl-color-gray-white);
  }
  .footer-container5 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-left: var(--dl-space-space-sixunits);
    flex-direction: column;
  }
  .footer-text09 {
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-link1 {
    color: var(--dl-color-gray-800);
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .footer-link1:hover {
    color: var(--dl-color-gray-white);
  }
  .footer-navlink2 {
    color: var(--dl-color-gray-800);
    transition: 0.3s;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .footer-navlink2:hover {
    color: var(--dl-color-gray-white);
  }
  .footer-image {
    top: 0px;
    left: auto;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    object-fit: cover;
  }
  @media(max-width: 991px) {
    .footer-container {
      padding: var(--dl-space-space-doubleunit);
    }
  }
  @media(max-width: 767px) {
    .footer-container {
      flex-direction: column;
    }
    .footer-container1 {
      align-items: center;
      margin-bottom: var(--dl-space-space-doubleunit);
    }
    .footer-container4 {
      margin-left: var(--dl-space-space-doubleunit);
    }
    .footer-container5 {
      margin-left: var(--dl-space-space-doubleunit);
    }
  }
  /* ------------------------------------------------------------------------------------- */
  .home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-hero {
    width: 100%;
    display: flex;
    position: relative;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: flex-end;
  }
  .home-container01 {
    width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  min-height: 85vh;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  }
  .home-card {
    flex: 0 0 auto;
    width: 90%;
    display: flex;
    padding: var(--dl-space-space-tripleunit);
    z-index: 1;
    flex-wrap: wrap;
    align-self: center;
    box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
    margin-top: var(--dl-space-space-tripleunit);
    transition: 0.3s;
    align-items: flex-start;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius1);
    margin-bottom: var(--dl-space-space-tripleunit);
    flex-direction: column;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 95%, 0.8);
  }
  .home-card:hover {
    border-top-left-radius: var(--dl-radius-radius-radius40);
    border-top-right-radius: var(--dl-radius-radius-radius40);
    border-bottom-left-radius: var(--dl-radius-radius-radius40);
    border-bottom-right-radius: var(--dl-radius-radius-radius40);
  }
  .home-text {
    text-align: center;
    background-image: linear-gradient(90deg, rgb(64, 224, 208) 0.00%,rgba(189, 119, 238, 0.99) 100.00%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-text01 {
    color: var(--dl-color-secondary-700);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: var(--dl-space-space-unitandahalfunit);
  }

  .home-container02 {
    display: flex;
    margin-top: var(--dl-space-space-unitandahalfunit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
  }

  .home-link {
    color: var(--dl-color-gray-white);
    display: flex;
    outline: none;
    background:  linear-gradient( 310deg ,#7928ca,#ff0080);
    box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
    transition: all .15s ease-in;
    padding-top: var(--dl-space-space-triplequarterunit);
    border-width: 0px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    border-radius: 1.875rem;
    padding-right: var(--dl-space-space-unitandahalfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-triplequarterunit);
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(64, 224, 208) 0.00%,rgb(189, 119, 238) 100.00%);
  }
  .home-link:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  .home-link1 {
    display: contents;
  }
  .home-bottom-wave-image {
    top: auto;
    left: auto;
    right: 0px;
    width: 100%;
    bottom: -5px;
    position: absolute;
    object-fit: cover;
  }
  
  .home-top-wave-image {
    top: -5px;
    left: auto;
    right: 0px;
    width: 100%;
    bottom: auto;
    position: absolute;
    object-fit: cover;
  }
  .home-contaier {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
  }
  @media(max-width: 991px) {
    .home-hero {
      padding-left: var(--dl-space-space-tripleunit);
      padding-right: var(--dl-space-space-tripleunit);
    }
    .home-container01 {
      max-width: 960px;
    }
    .home-card {
      width: 100%;
    }
    .home-text {
      background-image: linear-gradient(90deg, rgb(64, 224, 208) 56.00%,rgba(189, 119, 238, 0.99) 100.00%);
    }
    .home-link {
      background-image: linear-gradient(90deg, rgb(64, 224, 208) 49.00%,rgb(189, 119, 238) 100.00%);
    }
    .home-features {
      max-width: 960px;
    }
    .home-container06 {
      max-width: 960px;
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-container07 {
      max-width: 80%;
    }
    .home-text05 {
      text-align: center;
    }
    .home-text06 {
      width: 50%;
    }
    .home-text10 {
      width: 50%;
    }

  @media(max-width: 767px) {
    .home-card {
      align-items: center;
    }
    .home-text02 {
      text-align: center;
      margin-right: 0px;
      padding-right: 0px;
    }
    .home-image {
      width: 40%;
    }
    .home-image01 {
      display: none;
    }
  @media(max-width: 479px) {
    .home-card {
      padding: var(--dl-space-space-unit);
    }
    .home-container02 {
      align-items: center;
      flex-direction: column;
    }
    .home-container03 {
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-features {
      width: 100%;
    }

/* ----------------------------------------------------------------------------------- */
.user-input button{
  font-size:12px;
  border:none;
  background: #46bb78;
  border-radius:3px;
  color:rgb(178, 24, 24);
  height:30px;
  width:60px;
  cursor:pointer;
  transition:0.2s;
  position:relative;
  overflow:hidden;
  font-family:'Text Me One',sans-serif;
}
.user-input button:hover span{
  transform: translateY(-3px);
}
.user-input button:focus{
  outline:none;
}

.user-input button span{
  position:absolute;  
  right:32px;
  top:16px;
  transition:0.3s;
  transition-delay:0.1s;
}
input{border:none;
outline:none;font-family:'Text Me One',sans-serif;
text-decoration:none;}

.user-input button.success{
  pointer-events:none;
}

.user-input button.loading{
  width:56px;
  border-radius:30%;
  animation: bounce 1s infinite;
  pointer-events:none;
  height:30px;
}


@keyframes bounce {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
	

.chat-container {
  padding-top:19px;
  width:50%;
  height: 700px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff;
}

.chat-log {
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-input {
  display: flex;
}

.user-input input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
}
.chat-log p {
  margin: 0;
  padding: 5px;
}

.userInput {
  background-color: #e6f2ff;
  border-radius: 5px;
}

.chatbot-message {
  background-color: #351919;
  border-radius: 5px;
}

.timestamp {
  color: #888;
  font-size: 0.8em;
  margin-right: 5px;
}

.user-input button.clear {
  background-color: #e74c3c;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s linear;
}
.jeevanbot-button {
  align-self: flex-end;
  transition: 0.3s;
}
.jeevanbot-button:hover {
  color: var(--dl-color-gray-black);
  border-radius: var(--dl-radius-radius-radius40);
  background-color: #7af1eb;
}